.label-title{
    font-weight: bold;
}

.text-input{
    height:40px;
}
.dropdown{
 position: relative;
}
.dropdown:before{
    content: "";
    position: absolute;
    right: 10px;
    top:8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top:10px solid #ccc;
}
.dropdown:after{
    content:"";
    position: absolute;
    right:10px;
    top:3px;
    width: 0;
    height:0;
    border-left: 10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid rgb(143, 142, 142);

}